/* styles for heading */ 
.heading{
  text-align: center;
}
/* styles for form container */
.formContainer {
  margin: 20px auto;
  background-color: white;
  display: flex;
  border: 1px solid black;
  border-radius: 2px;
  width: fit-content;
  padding: 10px 20px;
  flex-wrap: wrap;
}
/* styles for form label */
.formLabel {
  padding: 10px;
  width: 300px;
  text-align: left;
  font-size: 20px;
  color: #333;
}
/* styles for form inputs */
.formInput {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
  border: 1px solid black;
}

/*styles for custom dropdown */
.customDropdown {
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  width: 300px;
}

/* styles for dropdown item list */
.dropdownList {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 3px;
}
/* styles for each item */
.dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* styles on hover of dropdown items */
.dropdownItem:hover {
  background-color: #f0f0f0;
}
/* styles for remove reservation button */
.removeReserveButton {
  margin-left: 10px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background: #f56363;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.removeReserveButton:hover {
  background: #e62222;
}
