.mainContainer {
  margin-top: 80px;
  display: flex;
}

.mainContainer > :first-child {
  width: 70px;
}

.mainContainer > :last-child {
  width: calc(100% - 70px);
}

@media screen and (max-width: 768px) {
  .mainContainer > :first-child{
    width: 0px;
  }
  .mainContainer > :last-child{
    width: 100%;
  }
}