/* root styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* styles for main Container */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/public/assets/Images/background.jpeg") center/cover no-repeat;
}
/* styles for form and image for forgot container */
.forgotPasswordContainer {
  border: 2px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0px 0px 4px rgba(46, 44, 44, 0.4);
  border-radius: 10px;
  background-color: rgba(161, 204, 242, 0.9);
  width: 60%;
  height: fit-content;
  display: flex;
  align-self: center;
}
/* styles for image container */
.imgContainer {
  width: 50%;
  box-sizing: border-box;
}
/* styles for image inside image container */
.imgContainer > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* styles for email card - container accepting email */
.emailCard {
  padding: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* styles for heading inside card */
.heading {
  color: rgba(0, 0, 0, 1);
  margin-bottom: 15px;
  font-size: 32px;
  margin-bottom: 40px;
}
/* styles for paragraph inside email card */
.emailCard > p {
  font-size: 20px;
}
/* styles for field container */
.formFieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
}
/* styles for input inside email card */
.formInput {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(119, 141, 169, 0.8);
  padding: 10px;
  font-size: 20px;
  width: 100%;
}
/* styles email error */
.emailError {
  color: rgb(243, 71, 71);
  font-size: 26px;
  height: 20px;
}
/* styles for submit button */
.submitButton {
  width: 70%;
  background-color: rgb(255, 88, 121);
  color: whitesmoke;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(119, 141, 169, 0.8);
  padding: 8px;
  margin: 15px 0px 10px 0px;
  font-size: 24px;
}
.submitButton:hover {
  background-color: rgb(216, 58, 89);
}
.loginLinkContainer {
  margin-top: 20px;
  align-self: flex-end;
}
.loginLinkContainer > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.loginLinkContainer > a:hover {
  text-decoration: underline;
  color: rgb(255, 88, 121);
}
/* styles for screen sizes between 600px-1024px -  tablet view */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .forgotPasswordContainer {
    width: 80%;
    height: 40%;
  }
  .imgContainer {
    width: 40%;
  }
  .emailCard {
    width: 60%;
  }
}
/* styles for screen sizes below 768px*/
@media screen and (max-width: 600px) {
  .forgotPasswordContainer {
    width: 100%;
    height: 100%;
  }
  .imgContainer {
    display: none;
  }
  .emailCard {
    width: 100%;
  }
  .forgotPasswordContainer {
    background-color: rgba(161, 204, 242, 0.6);
  }
}
