.changePassword {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.setting {
  margin-top: 1%;
}
 
.userInfo {
  font-size: 28px;
  font-weight: 600;
  padding: 2px;
}
 
.changepasswordfield {
  width: 600px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 20px;
}
 
.forminput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 
.forminput input {
  width: 300px;
  padding: 5px;
  margin: 2% 0%;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(196, 194, 194);
}
 
.eyeIcon {
  position: absolute;
  right: 2%;
  top: 35%;
  cursor: pointer;
}
 
.paswordHintIcon {
  width: 250px;
  font-size: 20px;
  display: flex;
}
 
.paswordHintIcon span {
  color: red;
}
 
.iconContainer {
  position: relative;
}
 
.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: lightgrey;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  top: 15%;
  opacity: 0;
  transition: opacity 0.3s;
}
 
.iconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
 
.tooltip ul {
  list-style-type: none;
}

.tooltip li{
  color:black;
}

.tooltip li:last-child{
  color: red;
}

.iconContainer span{
  color: black;
}
 
.changepasswordfield button {
  color: black;
  background-color: rgb(168, 191, 238);
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  margin-top: 5%;
  font-size: 16px;
}

.changepasswordfield button:hover {
  background-color: rgba(168, 191, 238, 0.7);
}

 
.responseModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.responseModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  overflow: hidden;
  text-align: center;
}

.btn{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  background-color: green;
}
 
.responseModal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
 
.responseModal p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 2%;
}
 
@media only screen and (max-width: 768px) {
  .headerStyle {
    display: none;
  }
 
  .changePassword {
    margin-left: 0px;
    margin: 0px;
  }
 
  .changepasswordfield {
    width: 80%;
    border: none;
  }
 
  .forminput {
    width: 100%;
    flex-direction: column;
  }
 
  .forminput input {
    width: 100%;
  }
 
  .eyeIcon {
    right: 2%;
    top: 50%;
  }
 
  .paswordHintIcon {
    width: 100%;
  }
}