.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 11px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncontent button {
    width:160px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border: none;
  }
  
  .dropdowncontent button:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdowncontent {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  @media print {
    .dropdown:hover .dropdowncontent {
        display: none;
      }
  }